.menu {
    .title {
        @include sp {
            margin-bottom: 50px;
        }
    }
}

.menu-allwrap {
    display: flex;
    justify-content: space-between;
    @include sp {
        flex-direction: column;
    }
}
.menu__img {
    width: 100%;
    margin-top: 10px;
    img {
        width: 100%;
    }
}

.menu-item {
    width: 25.7%; //25.655%
    @include sp {
        width: 100%;
    }
}

.menu-wrap {
    padding: 37px 10px 0;
    @include sp {
        padding: 50px 13px 30px 24px;
    }
    &__title {
        font-size: 3rem;
        text-align: center;
        @include sp {
            text-align: left;
        }
    }
    &__text {
        font-size: 1.6rem;
        margin-top: 34px;
        @include sp {
            margin-top: 30px;
        }
    }
    &__price {
        font-size: 1.6rem;
        text-align: right;
        margin-top: 34px;
        @include sp {
            margin-top: 26px;
        }
    }
}