/* スクロールバーの削除 */
body::-webkit-scrollbar {
    display:none;
}

/* aboutの設定 */
.wrapper {
    display: flex;
    width: 90vw;
    height: 500px;
    margin: 0 auto;
}

.face_section {
    width: 50vw;
    position: relative;
}

.face_section img {
    width: 250px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text_section {
    width: 50vw;
    position: relative;
}

.text_section section {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
}

.wrapper_contents {
    width: 90vw;
    margin: 0 auto;
}

.wrapper_why {
    width: 70vw;
    margin: 0 auto;
}   


.wrapper_skills {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.wrapper_skills ul li {
    font-size: 2.5rem;
    margin-bottom: 20px;
    list-style: none;
}

footer {
    position: static;
}