/* スクロールバーの削除 */
body::-webkit-scrollbar {
    display:none;
}

.wrapper_work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90vw;
    margin: 0 auto;
    /* background-color: forestgreen; */
}
.section_html_css,
.section_javascript,
.section_python {
    width: 100%;
}

.work_box {
    width: 550px;
    margin-bottom: 30px;
}

.work_box p {
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 10px 0 0 0;
    text-align: center;
}

.wrapper_html_css,
.wrapper_javascript,
.wrapper_python {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*! ******************************* */
/*! もし記事数が偶数ならコメントアウト */
/*! ******************************* */

@media screen and (min-width: 1223px) {
    /* .wrapper_html_css::after, */
    .wrapper_javascript::after,
    .wrapper_python::after{
        display: block;
        content:"";
        width: 550px;
        height: 259px;
        /* background-color: black; */
    }
}


.box {
    width: 550px;
    height: 259px;
    background-color: maroon;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
}
@media screen and (max-width: 544px) {
    .box {
        width: 98%;
    }
}

footer {
    position: static;
}