#menu {
    padding-bottom: 70px;
    p {
        margin-top: 93px;
        margin-bottom: 60px;
    }
}

.menu-img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &_1 {
        max-width: 60.29%;
    }
    &_2 {
        max-width: 38.33%;
    }
    &_3 {
        max-width: 67.98%;
        margin-top: 20px;
    }
    &_4 {
        max-width: 30.47%;
        margin-top: 20px;
    }
    img {
        max-width: 100%;
        @include tab {
            width: 1000px;
            height: 300px;
            object-fit: cover;
        }
    }
    &_1,&_2,&_3,&_4 {
        @include tab {
            max-width: 1000px;
        }
    }
    &_2,&_3,&_4 {
        @include tab {
            margin-top: 20px;
        }
    }
}
