.news {
    background-image: url(../img/bg2.jpg);
    background-size: cover;
    .title {
        color: #fff;
    }
    &__img {
        width: 100%;
        img {
            width: 100%;
        }
    }
}

.news-wrap {
    display: flex;
    justify-content: space-between;
    @include sp {
        flex-direction: column;
    }
}

.news-item {
    width: 30.5%;
    background-color: white;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.16);
    @include sp {
        width: 100%;
        &:nth-child(2),
        &:nth-child(3) {
            margin-top: 30px;
        }
    }
}



.news-content {
    padding: 20px;
    &__day {
        font-weight: bold;
        font-size: 1.1rem;
    }
    &__title {
        font-weight: bold;
    }
    &__intro {
        font-size: 1.2rem;
        margin-top: 1em;
    }
}