{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="static\css\about.css">
{% endblock %}
{% block body %}
<div class="space"></div>
<div class="wrapper">
    <div class="face_section">
        <img src="static\images\myface.png" alt="顔写真">
    </div>
    <div class="text_section">
        <section>
            <p>名前  ：  新田直人(21)</p>
            <p>大学  ：  東北工業大学 情報通信工学科</p>
            <p>趣味  ：  ルービックキューブ</p>
            <p>連絡先 :  s1812156@st.tohtech.ac.jp</p>
            <p>好きな言葉 : 「努力する人は希望を語り、怠ける人は不満を語る」</p>
        </section>
    </div>
</div>
<div class="wrapper_contents">
    <h1 class="title">why</h1>
    <div class="wrapper_why">
        <section>
            <p>私がプログラミングを始めたきっかけは、何かしないといけないという危機感からでした。大学2年生の冬、急に過去を振り返ると、何の特徴もない人間だということに気づきました。唯一、パソコンが好きだったから、それを活かしたいと思いプログラミングの学習を始めました。</p>
        </section>
    </div>
    <h1 class="title">skills</h1>
    <div class="wrapper_skills">
        <ul class='lang'>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>Python</li>
            <li>Git</li>
        </ul>
        <ul class='lang_level'>
            <li>★★★★☆</li>
            <li>★★★☆☆</li>
            <li>★★★☆☆</li>
            <li>★★☆☆☆</li>
            <li>★★☆☆☆</li>
        </ul>
    </div>
</div>
{% endblock %}