{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="static\css\about.css">
{% endblock %}
{% block body %}
<div class="space"></div>
<h1 class='first_title'>about</h1>
<div class="wrapper_about">
    <div class="face_section">
        <img src="static\images\myface.png" alt="顔写真">
    </div>
    <div class="text_section">
        <section>
            <p>名前  ：  新田直人(21)</p>
            <p>大学  ：  東北工業大学 情報通信工学科</p>
            <p>趣味  ：  ルービックキューブ</p>
            <p>連絡先 :  s1812156@st.tohtech.ac.jp</p>
            <p>テキストです。テキストです。テキストです。テキストです。テキストです。</p>
        </section>
    </div>
</div>
<h1 class="title">why</h1>
<div class="wrapper_why">
    <section>
        <p>テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。テキストです。</p>
    </section>
</div>
<h1 class="title">skills</h1>
<div class="wrapper_skills">
    <ul class='lang'>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>Python</li>
    </ul>
    <ul class='lang_level'>
        <li>★★★★☆</li>
        <li>★★★☆☆</li>
        <li>★★★☆☆</li>
        <li>★★☆☆☆</li>
    </ul>
</div>
{% endblock %}