{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="static\css\index.css">
{% endblock %}
{% block body %}
<div class="space"></div>
<h1 class='first_title'>top</h1>
<div class="wrapper">
    <div class="face_section">
        <img src="static\images\face.png" alt="顔写真">
    </div>
    <div class="text_section">
        <section>
            <h1 class='title_section'>こんにちは,naotoと言います.</h1>
            <p>****大学に所属しています。</p>
            <p>岩手県の普通科出身で、プログラミングと出会ったのは大学生1年生からです。</p>
            <p>興味をもって勉強した言語は以下の通りです。</p>
            <ul>
                <li>HTML&CSS</li>
                <li>JavaScript</li>
                <li>React</li>
                <li>Python</li>
            </ul>
        </section>
    </div>
</div>
{% endblock %}