{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="static\css\works.css">
{% endblock %}
{% block body %}
<div class="space"></div>
<div class="space"></div>
<div class="wrapper_work">
    <div class="section_html_css">
        <h1>HTML＆CSS</h1>
        <div class="wrapper_html_css">
            <div class="work_box">
                <a href="/works/html&css_1" target="_blank">
                    <img src="../static/images/html&css_1/html&css_1.png" alt="HTML＆CSSの模写サイト1" class="box">
                </a>
                <p>プログラミングスクールの課題 <a href="https://github.com/N-Naoto/school_task" target="_blank"><i class="fab fa-github fa-lg"></i></a></p>
            </div>
            <div class="work_box">
                <a href="/works/html&css_2" target="_blank">
                    <img src="../static/images/html&css_2/html&css_2.png" alt="HTML＆CSSの模写サイト2" class="box">
                </a>
                <p>右も左もわからない状態で初めて模写したサイト <a href="https://github.com/N-Naoto/isara" target="_blank"><i class="fab fa-github fa-lg"></i></a></p>
            </div>
        </div>
    </div>
    <div class="section_javascript">
        <h1>JavaScript</h1>
        <div class="wrapper_javascript">
            <div class="work_box">
                <a href="/works/js_1" target="_blank">
                    <img src="../static/images/js_1/js_1.png" alt="JavaScriptで作ったゲーム1" class="box">
                </a>
                <p>Udemyで作ったゲームを参考にしました。<a href="https://github.com/N-Naoto/dice_game" target="_blank"><i class="fab fa-github fa-lg"></i></a></p>
            </div>
            <div class="work_box">
                <a href="/works/js_2" target="_blank">
                    <img src="../static/images/js_2/js_2.png" alt="JavaScriptで作ったゲーム2" class="box">
                </a>
                <p>TypingGameです。<a href="https://github.com/N-Naoto/typing_game" target="_blank"><i class="fab fa-github fa-lg"></i></a></p>
            </div>
            <div class="work_box">
                <a href="https://github.com/N-Naoto/myTodoApp" target="_blank">
                    <img src="../static/images/js_3/js_3.png" alt="Reactで作ったアプリ1" class="box">
                </a>
                <p>Reactで作ったtodoアプリです。<a href="https://github.com/N-Naoto/myTodoApp" target="_blank"><i class="fab fa-github fa-lg"></i></a></p>
            </div>
        </div>
    </div>
    <div class="section_python">
        <h1>Python</h1>
        <div class="wrapper_python">
            <div class="work_box">
                <a href="https://login-todo.herokuapp.com/top" target="_blank">
                    <img src="../static/images/py_1/py_1.png" alt="Flaskで作ったアプリ1" class="box">
                </a>
                <p>Flaskで作ったtodoアプリです。<a href="https://github.com/N-Naoto/flask_login_todo" target="_blank"><i class="fab fa-github fa-lg"></i></a></p>
            </div>
           
            
        </div>
    </div>

</div>
{% endblock %}