{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="static\css\works.css">
{% endblock %}
{% block body %}
<h1 class='first_title'>works</h1>
<div class="space"></div>
<div class="space"></div>
<div class="wrapper_work">
    <div class="section_html_css">
        <h1>HTML＆CSS</h1>
        <div class="wrapper_html_css">
            <div class="work_box">
                <a href="/works/html&css_1">
                    <img src="../static/images/html&css_1/html&css_1.png" alt="HTML＆CSSの模写サイト1" class='box'>
                </a>
                <p>プログラミングスクールの課題</p>
            </div>
            <div class="work_box">
                <a href="/works/html&css_2">
                    <img src="../static/images/html&css_2/html&css_2.png" alt="HTML＆CSSの模写サイト2" class="box">
                </a>
                <p>プログラミングスクールの課題</p>
            </div>
            <div class="work_box">
                <a href="/works/html&css_3">
                    <img src="../static/images/html&css_3/html&css_3.png" alt="HTML＆CSSの模写サイト3" class="box">
                </a>
                <p>プログラミングスクールの課題</p>
            </div>
            <div class="work_box">
                <a href="/works/html&css_4">
                    <img src="../static/images/html&css_4/html&css_4.png" alt="HTML＆CSSの模写サイト4" class="box">
                </a>
                <p>プログラミングスクールの課題</p>
            </div>
            <div class="work_box">
                <a href="/works/html&css_5">
                    <img src="../static/images/html&css_5/html&css_5.png" alt="HTML＆CSSの模写サイト5" class="box">
                </a>
                <p>プログラミングスクールの課題</p>
            </div>
            <div class="work_box">
                <a href="/works/html&css_6">
                    <img src="../static/images/html&css_6/html&css_6.png" alt="HTML＆CSSの模写サイト6" class="box">
                </a>
                <p>右も左もわからない状態で初めて模写したサイト</p>
            </div>
        </div>
    </div>
    <div class="section_javascript">
        <h1>JavaScript</h1>
        <div class="wrapper_javascript">
            <div class="work_box">
                <a href="/works/js_1">
                    <img src="../static/images/js_1/js_1.png" alt="JavaScriptで作ったゲーム1" class="box">
                </a>
                <p>Udemyで作ったゲームを参考にしました。</p>
            </div>
            <div class="work_box">
                <a href="/works/js_2">
                    <img src="../static/images/js_2/js_2.png" alt="JavaScriptで作ったゲーム2" class="box">
                </a>
                <p>TypingGameです。</p>
            </div>
            <div class="work_box">
                <a href="/works">
                    <img src="" alt="" class="box">
                </a>
                <p></p>
            </div>
        </div>
    </div>
    <div class="section_python">
        <h1>Python</h1>
        <div class="wrapper_python">
            <a href="/works">
                <img src="" alt="" class="box">
            </a>
            <a href="/works">
                <img src="" alt="" class="box">
            </a>
            <a href="/works">
                <img src="" alt="" class="box">
            </a>
        </div>
    </div>

</div>
{% endblock %}