<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e01264f7f2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/css/works/html&css_2/main.css">
    <title>html&css_2</title>
</head>
<header>
    <h1 class="hd-logo">Permil</h1>
    <div class="ham">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <nav class="pc_navmenu">
        <ul>
            <li>TOP</li>
            <li>VISION</li>
            <li>MERIT</li>
            <li>SERVICE</li>
            <li>COMPANY</li>
            <li>CONTACT</li>
        </ul>
    </nav>
</header>
<main>
    <section class="first-v">
        <div class="first-v__wrap">
            <p class="catch">A life-changing</p>
            <button class="fv-btn">
                <p><i class="fas fa-sign-in-alt btn-icon"></i>ENTRY</p>
            </button>
        </div>
    </section>
    <section class="about">
        <div class="inner">
            <h2 class="title">
                <span class="title--bold">About</span>US
            </h2>
            <div class="about-wrap">
                <div class="about-item">
                    <h3 class="about-item__title">時間無制限</h3>
                    <div class="about-item__img">
                        <img src="../../static/images/html&css_2/icon1.png" alt="">
                    </div>
                    <p class="about-item__desc">テキストが入ります。テキストが入ります。テキストが入ります。</p>
                </div>
                <div class="about-item">
                    <h3 class="about-item__title">成長率No.1</h3>
                    <div class="about-item__img">
                        <img src="../../static/images/html&css_2/icon2.png" alt="">
                    </div>
                    <p class="about-item__desc">テキストが入ります。テキストが入ります。テキストが入ります。</p>
                </div>
                <div class="about-item">
                    <h3 class="about-item__title">満足度No.1</h3>
                    <div class="about-item__img">
                        <img src="../../static/images/html&css_2/icon3.png" alt="">
                    </div>
                    <p class="about-item__desc">テキストが入ります。テキストが入ります。テキストが入ります。</p>
                </div>
                <div class="about-item">
                    <h3 class="about-item__title">スマホで学べる</h3>
                    <div class="about-item__img">
                        <img src="../../static/images/html&css_2/icon4.png" alt="">
                    </div>
                    <p class="about-item__desc">テキストが入ります。テキストが入ります。テキストが入ります。</p>
                </div>
                <div class="about-item">
                    <h3 class="about-item__title">トレーナー制度</h3>
                    <div class="about-item__img">
                        <img src="../../static/images/html&css_2/icon5.png" alt="">
                    </div>
                    <p class="about-item__desc">テキストが入ります。テキストが入ります。テキストが入ります。</p>
                </div>
                <div class="about-item">
                    <h3 class="about-item__title">質問し放題</h3>
                    <div class="about-item__img">
                        <img src="../../static/images/html&css_2/icon6.png" alt="">
                    </div>
                    <p class="about-item__desc">テキストが入ります。テキストが入ります。テキストが入ります。</p>
                </div>
            </div>
        </div>
    </section>
    <section class="news">
        <div class="inner">
            <h2 class="title">
                <span class="title--bold">News</span>
            </h2>
            <div class="news-wrap">
                <div class="news-item">
                    <div class="news__img">
                        <img src="../../static/images/html&css_2/news1.jpg" alt="">
                    </div>
                    <div class="news-content">
                        <p class="news-content__day">2019/07/19</p>
                        <h3 class="news-content__title">
                            タイトルが入ります
                        </h3>
                        <p class="news-content__intro">
                            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                        </p>
                    </div>
                </div>

                <div class="news-item">
                    <div class="news__img">
                        <img src="../../static/images/html&css_2/news2.jpg" alt="">
                    </div>
                    <div class="news-content">
                        <p class="news-content__day">2019/07/19</p>
                        <h3 class="news-content__title">
                            タイトルが入ります
                        </h3>
                        <p class="news-content__intro">
                            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                        </p>
                    </div>
                </div>

                <div class="news-item">
                    <div class="news__img">
                        <img src="../../static/images/html&css_2/news3.jpg" alt="">
                    </div>
                    <div class="news-content">
                        <p class="news-content__day">2019/07/19</p>
                        <h3 class="news-content__title">
                            タイトルが入ります
                        </h3>
                        <p class="news-content__intro">
                            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="entry">
        <div class="entry-wrap">
            <p class="entry-copy">"今すぐ人生を変える"</p>
            <button class="entry-btn">
                <p><i class="fas fa-sign-in-alt btn-icon"></i>ENTRY</p>
            </button>
        </div>
    </section>
</main>
<footer>
    <small>© 2017-2019 Permil inc.</small>
</footer>

<body>

</body>

</html>