<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>html&css_2</title>
    <meta name="description" content="ページの紹介文">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/e01264f7f2.js" crossorigin="anonymous"></script>
<!-- CSS -->
    <link rel="stylesheet" href="../../static/css/works/html&css_2/style.css">
    <link rel="stylesheet" href="../../static/css/works/html&css_2/responsive.css" media="screen and (max-width: 760px)">
  </head>
  
  <body>
    
    <div class="wrapper">
        <header>
          <img src="../../static/images/html&css_2/isaralogo.png" width="258" height="90">
          <p>バンコクのノマドエンジニア育成講座</p>
          <a href="" class="btn header-btn">お問い合わせ/資料請求はこちら</a>
          <a href="#" class="responsivefile"><i class="far fa-file-alt fa-2x"></i>資料請求</a>
       </header>
      
            <!-- page_top -->
            <div id="page_top"><a href="#"></a></div>
            <!-- page_top -->


            <!-- main -->
            
            <div class="main">
              <h1>プログラミングで</h1>
              <h1>人生の安定を手にいれよう</h1>
              <img src="../../static/images/html&css_2/isaralogolarge.png">
              <p>バンコクのノマドエンジニア育成講座</p>
              <p>iSara[イサラ]</p>
              
            </div>
            
      

        <!-- conversion -->
        <div class="conversion">
            <h2>まずは20日間で、<br>月10万円稼げるスキルを手にいれよう。</h2>
            <span>※受講料金は実質0円です。詳しくは資料請求をどうぞ。</span>
            <a href="" class="btn conversion-btn">お問い合わせ＆資料請求は<br class="re_br">こちら</a>
            <p>第6期生：2019年11月25日~2019年12月14日<br class="re_br">＊締め切りました</p>
            <p>第7期生：2020年2月17日~2019年3月7日<br class="re_br">＊締め切りました</p>
            <p>第8期生：2020年4月~5月ごろを予定<br class="re_br">＊資料請求受付中です</p>
            <a href="" class="twitter"><i class="fab fa-twitter"></i> ツイート</a>
            <a href="" class="good"><i class="fas fa-thumbs-up"></i></i> いいね！</a>
            <a href="" class="share">シェア</a>
        </div>


          <!-- introduction -->
        <div class="introduction">
            <h1>エンジニアとして<br class="re_br">本当の自由を手に入れるためには？</h1>
            <p>エンジニア需要の高まりに伴い、<br class="re_br">プログラミングスクールが増えています。<br>しかしそこでの学習の先は、<br class="re_br"> 提携して決められた就職先に就職すること。</p>

            <p>これで本当にいいのですか？<br>日本人エンジニアはアメリカと較べて<br class="re_br">給料が格段に低い。<br>その理由がここにあり、<br class="re_br">エンジニアは自分の給料を<br class="re_br">コントロールすべきなのです。</p>

            <p>スキルを身につけたエンジニアは、<br class="re_br">人生をコントロールすることでより自由に。<br>そこで必要なのが<span>「稼ぐ力」</span>です。</p>  
        </div>


        <!-- aboutisara -->
        <div class="aboutisara">
            <p class="circle1">ABOUT</p>
            <div class="about">
              <h1>ノマドエンジニア育成講座<br>iSara[イサラ]とは</h1>
              <h2>「 稼ぐこと 」にフォーカスした<br class="re_br">Webエンジニア育成講座です。</h2>
            </div>
            
            <div class="skills">
              <h3>稼げるエンジニアに必要な<br class="re_br">５つのスキルとは？</h3>

                <div class="skill">
                  <img src="../../static/images/html&css_2/skill.jpg" alt="">
                  <p>基礎的な<br>プログラミングスキル</p>
                </div>
                <div class="skill">
                  <img src="../../static/images/html&css_2/sales.jpg" alt="">
                  <p>案件獲得に必要な<br>営業力</p>
                </div>
                <div class="skill">
                  <img src="../../static/images/html&css_2/document.jpg" alt="">
                  <p>見積もり作成から<br>納品までの知識</p>
                </div>
                <div class="skill">
                  <img src="../../static/images/html&css_2/plusone.jpg" alt="">
                  <p>自分の付加価値を<br>高めるスキル</p>
                </div>
                <div class="skill">
                  <img src="../../static/images/html&css_2/connection.jpg" alt="">
                  <p>フリーランス同士の<br>横のつながり</p>
                </div>

            </div> <!-- skills -->
        </div><!-- aboutisara -->


        <!-- aboutsecond -->
        <div class="aboutsecond">
            <h1>iSaraで<br class="re_br">「基本的なプログラミングスキル」は教えません</h1>
            <h2>基礎的なプログラミングスキルは無料で学べる時代。</h2>
            <h3>iSaraでは、基礎知識学習は<br class="re_br"><span>事前課題</span>と<span>チャットサポート</span>のみ。</h3>

            <div class="step">
              <h4>STEP.1</h4>
              <p>【バンコク渡航前1ヶ月】</p>
              <p class="big">事前課題で基礎知識を学ぶ</p>
            </div>
            <div class="step">
              <h4>STEP.2</h4>
              <p>【バンコク渡航前1ヶ月】</p>
              <p class="big">実践的に稼ぐことに特化した学習</p>
            </div>
            <div class="step">
              <h4>STEP.3</h4>
              <p>【バンコク渡航前1ヶ月】</p>
              <p class="big">講座実施後の案件獲得サポート</p>
            </div>

            <div class="bluebox">
                <p>スキルアップしてもフリーランスエンジニア<br class="re_br">として食べていくことは難しい。<br>フリーランスには <span>プログラミングスキル以外</span>が大切。</p>
            </div>
        </div>

        <!-- aboutthird -->
        <div class="aboutthird">
          <h1>iSara<span>[イサラ]</span>で学べること</h1>
          <h2>iSaraの学習では、エンジニアとして<br class="re_br">「稼ぐ」ために必要な能力を身につけます。</h2>
          <img src="../../static/images/html&css_2/salesskill.jpg" alt="">
          <img src="../../static/images/html&css_2/knowledge.jpg" alt="">
          <img src="../../static/images/html&css_2/skillup.jpg" alt="">
          <img src="../../static/images/html&css_2/freelanceconnection.jpg" alt="">
          <p>これらを教えるのがiSaraです。</p>
        </div>




        <!-- merit -->
        <div class="merit">
        
          <h1>他のプログラミングスクールと<br class="re_br">ここが違う！<br><span>Sara[イサラ]の３つのメリット</span></h1>
          
          
          <div class="merits">
              <div class="mt">
                <img src="../../static/images/html&css_2/learnfromfreelancer.jpg" alt="">
                <h2>現役フリーランスから学べる</h2>
                <p>他のプログラミングスクールとは違い、実際にフリーランスとして活動しているエンジニアが直接講師を勤めます。</p>
              </div>
              <div class="mt">
                <img src="../../static/images/html&css_2/learnfromprojects.jpg" alt="">
                <h2>実践を通じて学べる</h2>
                <p>フリーランスにとって最短の学習方法は「実践」。iSaraでは実案件を通して学びます。現役フリーランサーの案件サポートに加え、クラウドソーシングを活用。初心者の自分じゃ無理と思うかもですが、現役フリーランスがサポートしますので大丈夫。</p>
              </div>
              <div class="mt">
                <img src="../../static/images/html&css_2/actuallyfree.jpg" alt="">
                <h2>授業料が実質０円</h2>
                <p>講座費用258,000円以上の金額が稼げるまで「永久サポート延長」があります。</p>
              </div>
          </div> <!-- merits -->

          <div class="support">
            <h2>さらに！帰国後もサポート付き</h2>
            <h3>リモートワーカーのチームを作ることで<br class="re_br">受注率、受注単価が大幅に向上します。</h3>
            <p>iSaraは講座が終わって終了ではありません。<br>
              参加メンバーのチャットグループを作り、帰国後も継続的に案件参加できるようになります。<br>
              また、チームで働くことで継続的に稼ぎやすい仕組みづくりも構築しております。</p>
          </div>
          <p class="attention">事前課題ができない人はお断りしております。<br class="re_br">iSaraでは、無料で学べるプログラミング基礎知識は教えません。事前課題一覧はメールで送りつつ、<br>
            チャットサポートのみ。従って、本気で取り組まないと結果は出ません。</p>
          
        </div> <!-- merit -->

        <!-- teacher -->
      
          <div class="teacher">
            <h1><i class="fas fa-address-card"></i>創業メンバー</h1>
            <h2>実際にフリーランスとして活躍している<br class="re_br">エンジニアが立ち上げました</h2>

            <div class="people">
              <div class="human">

                <img src="../../static/images/html&css_2/keisuke_someya.jpg" alt="">

                <div class="detail">
                  <h3>フリーランス講師</h3>
                  <h4>染谷 佳佑</h4>
                  <p>ISARA (THAILAND) CO.,LTD.の代表です。学生起業の後にリクルートへ就職、その後独立し、海外移住しました。今はフリーランスとしてリモートワークで日本円を稼ぎ、外国通貨に変えて使い、海外を旅してます。営業、ブログPVアップ(最高月間150万PV)、ビジネス構築が専門です。</p>
                </div>
                
              </div>
  
              <div class="human">

                <img src="../../static/images/html&css_2/yuki.png" alt="">

                <div class="detail">
                   <h3>フリーランス講師</h3>
                   <h4>成田  雄輝</h4>
                   <p>バンコクのシェアハウスのオーナーをやりながら一年の大半をタイで過ごしています。 大学時代から今に至るまでネットだけで生計を立てているので、自由歴だけは講師陣の中で最長です！ 母親がタイ人という事もありタイには精通してますので、こちらでの生活のサポートはお任せください</p>
                </div>
                
              </div>
              
              <div class="human free">

                <img src="../../static/images/html&css_2/shohey.png" alt="">

                <div class="detail">
                  <h3>フリーランスエンジニア</h3>
                  <h4>大滝  昇平</h4>
                  <p>月の半分は東京の会社にリモートで勤めつつ、フリーでも活動しているエンジニアです。Laravel・WordPressでのWeb制作がコアスキル。立ち上げメンバーとしてカリキュラム原案制作に参画し、現在は外部アドバイザーをしています！</p>
                </div>
               </div>
                
  
              <div class="human free">

                <img src="../../static/images/html&css_2/manabu.png" alt="">

                <div class="detail">
                  <h3>フリーランスエンジニア</h3>
                  <h4>坂内  学</h4>
                  <p>アドバイザーとして参画しました。新卒で海外就職して１１ヶ月後に退職。今は日本にいたり海外にいたりでゆるくフリーランスをしています。<br>
  
                  お仕事はWebマーケティングとプログラミングが専門領域です。</p>
                </div>
              </div>

              </div><!-- people -->
          </div><!-- teacher -->
     
        
          <!-- why -->
        <div class="why">
          <p class="circle2">Q&A</p>
          <div class="about">
            <h1>ノマドエンジニアとして自由に稼ぐことは<br>
              「 本当に 」可能なのか？</h1>
          </div>
          <div class="triangle"></div>
          
        </div>

        <!-- answer -->
        <div class="answer">
          <h1>実現可能です</h1>
          <h2>その証拠に第三者の声を聞いてみました。</h2>
          <small>＊実際にフリーランスエンジニアを採用する企業様から、<br class="re_br">メッセージをいただきました。</small>

          <div class="company">
            <img src="../../static/images/html&css_2/take.jpg" alt="">
            <div class="text">
              <p>リモートワークという言葉がありますが、弊社では何も気にしません。エンジニアに求めるのは、快適なコミュニケーションと信頼と成果物のみ。</p>
              <p class="cp"><span>Kredo IT Abroad . Inc </span>代表取締役 横田 猛夫</p>
              <div class="cb"></div>
            </div>
            
            
          </div>

          <div class="company">
            <img src="../../static/images/html&css_2/minami_sato.jpg" alt="">
            <div class="text">
              <p>社内でスキルのある人材を採用するのは難しい。外部パートナーとして継続的に依頼できるフリーランスには助かっています。</p>
            <p class="cp"><span>SAPEUR . Inc </span>代表取締役 佐藤 陽</p>
            <div class="cb"></div>
            </div>
            
            
          </div>

          <div class="company">
            <img src="../../static/images/html&css_2/asada.jpg" alt="">
            <div class="text">
              <p>プログラマーが足りていないときに外部リソースとして、フリーランスに発注しています。今はどこの会社でもエンジニアが不足していますね。</p>
              <p class="cp">株式会社<span>BeautifulWorks </span>代表取締役 淺田 百合</p>
              <div class="cb"></div>
            </div>
            
            
          </div>
        </div><!-- answer -->


        <div class="class">
          <h1>iSara[イサラ]で学べる内容</h1>
            <h2>渡航前の事前課題と渡航中に学べることの一覧です。</h2>
            

            <div class="step">
              <h3>渡航前の事前学習</h3>
              <p>０から始めるプログラミング事前学習講座</p>
              <p>参加者グループコミュニティ</p>
              <p>チャットサポート</p>
              <p>事前スカイプコンサル</p>
              <p>環境構築の事前学習</p>
              <p>jQueryの事前学習講座</p>
              <p>Bootstrapの事前講座</p>
              <p>PHP / Mysqlの事前学習講座</p>
              <p>稼ぐためのHTML/CSS講座</p>
              <p class="last">WordPressの事前学習講座</p>
            </div>
            <div class="step">
              <h3>バンコク渡航中</h3>
              <p>フリーランス独立術講座</p>
              <p>実際の実務案件をこなす</p>
              <p>ノマドフリーランス体験</p>
              <p>バンコク生活体験</p>
              <p>クラウドソーシング活用講座</p>
              <p class="last">フリーランスのための営業講座</p>
            </div>

          
        </div>

        <div class="classbottom">
            <p>講座費用258,000円以上の金額が稼げるまで「永久サポート延長」します。<br>
              つまりリスク０で参加できます。</p>
        </div>

        
        <!-- flow-->
        <div class="flow">
          <h1><i class="fas fa-desktop"></i>受講の流れ</h1>
          <img src="../../static/images/html&css_2/flow.jpg" alt="" class="br_img">

          <div class="flowbox">
              <div class="flowleft">
              
                <img src="../../static/images/html&css_2/skypeconsulting.png" alt="">
                <h2>Skypeで<br class="full_br">事前コンサル</h2>
                
            </div><!-- flowleft -->
            <div class="flowright">
                <p class="bold mb1">現在のスキルの状況、パソコンの環境説明、渡航での注意点を話します。<br>
                  簡単なテストあり</p>
                <p class="normal">iSaraでは受講料を稼げることを保障しています。従って、事前コンサル時点で簡単なテストを実施し、場合によってはお断りをしております。（テストの内容はPCの基礎知識に関するテストですので、普段からパソコンを利用する方でしたら問題ありません。テストはもちろん無料ですので、まずはお問い合わせください。）</p>
            </div><!-- flowright -->
            <div class="cb"></div>
          </div> <!-- flowbox -->

          <img src="../../static/images/html&css_2/flowline1.png" alt="" class="br_img">


          <div class="flowbox">
            <div class="flowleft">
              <img src="../../static/images/html&css_2/preworks.png" alt="">
              <h2 class="mt1">事前課題の提出</h2>
            </div>
            <div class="flowright">
              <p class="bold mb1">出発前の１ヶ月前に事前課題を送ります。</p>
              <p class="normal mb2">０から始めるプログラミング事前学習講座、環境構築の事前学習、jQueryの事前学習講座、Bootstrapの事前学習講座、PHP / Mysqlの事前講座</p>
              <p class="bold">課題は多いですが、ここで努力が必須です。プログラミングは高付加価値なスキルです。そのためには学習が必須です。回数無制限のチャットサポート付きですので、最初は努力してください。<br>
                また、参加者グループコミュニティも作成するので、横の繋がりでモチベーションを高めることもできます。</p>
            </div>
            <div class="cb"></div>
          </div><!-- flowbox -->  

          <img src="../../static/images/html&css_2/flowline2.png" alt="" class="br_img">

          <div class="flowbox">
            <div class="flowleft">
              <img src="../../static/images/html&css_2/flight.png" alt="">
              <h2>現地に渡航</h2>
            </div>
            <div class="flowright">
              <p class="bold mb2">到着日には空港でお出迎えし、初日のオリエンテーションを行います。<br>
                滞在先は空港からすぐの出来たてシェアハウス。美味しいタイ料理などもご紹介します。</p>
              <p class="bold">iSaraは『ノマド』フリーランス養成講座です。<br>
                楽しいノマド体験ができるよう、バンコクでの生活はこちらでサポートします。</p>
            </div>
            <div class="cb"></div>
          </div><!-- flowbox -->  
                  
          <img src="../../static/images/html&css_2/flowline1.png" alt="" class="br_img">

          <div class="flowbox">
            <div class="flowleft">
              <img src="../../static/images/html&css_2/personwithlight.png" alt="">
              <h2>実案件を<br class="full_br">通して学ぶ</h2>
            </div>
            <div class="flowright">
              <p class="bold mb2">現役フリーランスが抱える案件に加え、クラウドソーシングを使って実案件をこなします。</p>
              <p class="bold mb2">案件獲得のためのメールの書き方や見積りの仕方など、<br>
                他のプログラミングスクールでは教えてくれない実務スキルを学ぶことができます。</p>
                <p class="normal">＊現役フリーランスがサポートします。</p>
            </div>
            <div class="cb"></div>
          </div><!-- flowbox -->  

          <img src="../../static/images/html&css_2/flowline2.png" alt="" class="br_img">

          <div class="flowbox">
            <div class="flowleft">
              <img src="../../static/images/html&css_2/jobsupport.png" alt="">
              <h2>帰国後の仕事獲得<br class="full_br">
                サポート付き</h2>
            </div>
            <div class="flowright">
              <p class="bold mb2">経験年数の少ないフリーランスが高単価で継続的に仕事受注するコツ、それがチームを組むことです。</p>
              <p class=" bold mb2">iSaraではフリーランスコミュニティを形成し、帰国後のエンジニアでも継続的に稼げる仕組みを提供します。</p>
              <p class=" bold mb2">もちろん、個人で十分に稼げるようになった場合はいつでも脱退できますし、制限などは何もありません。</p>
            </div>
        	<div class="cb"></div>
          </div><!-- flowbox -->  

        </div><!-- flow -->
        
        <div class="bangkok"><!-- bangkok -->
          <div class="btxt">
            <h1>なぜバンコクなのか？</h1>
            <p>ここまで見ると、iSaraは日本でも実施可能に見えます。<br>しかし、バンコクを選んだのには理由があります。</p>
           <ul>
              <li>プログラミングフリーランスの最先端</li>
             <li>水準は日本と同じなのに、生活費が安い（毎月８万円ほど）</li>
             <li>昼、夜共に遊びが充実（稼ぐモチベーションアップと息抜きにGOOD）</li>
              <li>日本人が住みやすい（食事が美味しい / 気候が良い / 親日である）</li>
            </ul>
          <h2>環境が大切。さらにこの価格が実現できるのが、バンコクなのです。</h2>
          </div>
        </div><!-- bangkok -->

        
        <div class="special"><!-- special -->
          <h1><i class="fas fa-gift"></i>iSara受講生への参加特典</h1>
          <p><span>講座費用258,000円以上の金額が稼げるまでの<br class="re_br">「永久サポート延長」</span>を追加します。<br class="re_br">つまり、<span>実質０円</span>です。</p>

          <div class="specialfont">
            <h2>iSaraは『実質０円』！<br class="re_br">更なる特典もあります。</h2>
          </div>
          
          <div class="specialbox">
            <div class="tokuten">
              <div class="tokutentxt">
                <h3 class="circle3">特典1</h3>
                <p class="full_p">講座費用258,000円以上の金額が稼げるまで、「永久サポート延長」。リスク０で参加できます。</p>
                <p class="re_p">参加費以上の金額が稼げるまで「永久サポート」参加費用は実質0円です。</p>
              </div>
            </div>
            <div class="tokuten center">
              <div class="tokutentxt">
                <h3 class="circle3">特典2</h3>
                <p class="full_p">iSaraフリーランスコミュニティ参加権利。案件の紹介や、新施設OPENの際の優先利用権が受けられます。</p>
                <p class="re_p">フリーランスエンジニアになる為の動画講義を無料プレゼント</p>
              </div>
              
            </div>
            <div class="tokuten">
              <div class="tokutentxt">
                <h3 class="circle3">特典3</h3>
                <p class="full_p">講座参加後のシェアハウス利用権利（ドンムアン空港至近のため、とても便利です）</p>
                <p class="re_p">フリーランス講師による個別コンサル（渡航前の週１回）</p>
              </div>
            </div>
          </div><!-- specialbox -->
        </div><!-- special -->

        <div class="specialdetail"><!-- specialdetail -->
          <h2>iSaraは<br class="re_br">ボランティアではありません</h2>
          <p>ここまでみると、実質０円で各種サポートもある、特典が多すぎて逆に怪しい。<br>
            そう思われるかもしれません。<br>
            しかし、iSaraが目指すことは異なります。</p>
            <h1>月１０万円稼げる<br class="re_br">エンジニアを輩出し続ける。</h1>
            <p>最大の価値がこれです。<br>
              iSaraの卒業生が稼ぎ続けることで、<br class="re_br">小さな経済が動き始めます。<br>
              ここに最大の価値があり、<br class="re_br">この講座はその序章にすぎません。</p>
        </div><!-- specialdetail -->


        <div class="isaralearning"><!-- isaralearning -->
          <h1>創業者からのメッセージ</h1>
          <h2>「一生もののスキル」を身につけ、<br class="re_br">ノマドライフを楽しもう！</h2>

          <div class="learningbox">
            <div class="learningleft">
              <img src="../../static/images/html&css_2/IMG_1139-768x576.jpg" alt="">
            </div>
            
            <div class="learningright">
              <p class="mb1">初めまして。「iSara（イサラ）」創業者の染谷佳佑と申します。</p>
              <p class="mb3">iSaraの開講は、僕達講師陣にとってもとても大きな挑戦です。今回、参加者に圧倒的な価値提供をするために、超少人数制だからできる内容を用意しました。</p>
  
                <p>・「Webエンジニアとして稼ぐ」に特化した超実践的カリキュラム</p>
                <p>・フリーランスとして生計を立て、いつでも世界中を旅できるスキル、収入のある講師陣のみを厳選</p>
                <p class="mb3">・講座参加者が25万8,000円の参加費以上を稼ぐまでの無期限サポート延長</p>

  
              <p class="mb2">ここまでのカリキュラムを備えた講座は、世界で唯一iSaraだけでしょう。 iSaraでプログラミングや営業を学ぶことで、「一生ものの潰しが効くスキル」が身につきます。 もちろん勉強だけでなく、バンコクを楽しめるプログラムも用意しています！</p>
              <p>３ヶ月間徹底的にサポートします。ぜひバンコクでお会いしましょう。</p>
              
  
            </div><!-- learningright -->
            <div class="cb"></div>
          </div><!-- learningbox -->
          
        </div><!-- isaralearning -->

        <div class="contactform"><!-- contactform -->

          <h1><i class="far fa-file-alt"></i>資料請求フォーム</h1>
          <h2>まずは無料で資料請求からどうぞ。</h2>
          
            <form>
              <label>
                <input type="text" placeholder="姓">
                <input type="text" placeholder="名">
                <input type="text" placeholder="メールアドレス">
                <textarea name="question" rows="4" cols="40" placeholder="質問などはこちら(空欄でもOKです)"></textarea>
                <input id="submit_button" type="submit" value="送信">
              </label>
            </form>

        </div><!-- contactform -->


        <div class="question"><!-- question -->
          <h1><i class="far fa-envelope-open"></i>よくある質問</h1>

          <div class="menu">
            <input type="checkbox" id="menu_bar01" />
            <label for="menu_bar01"><i class="far fa-question-circle"></i>プログラミングスキルは必要ですか？</label>
            <ul id="links01">
              <li>いいえ、必要ありません。しかし、iSaraでは参加費以上の金額が稼げることを保障しています。 従って、事前通話面談時点で簡単なテストを実施し、場合によってはお断りをしております。この点だけはご了承ください。</li>
            </ul>

            <input type="checkbox" id="menu_bar02" />
            <label for="menu_bar02"><i class="far fa-question-circle"></i>参加費以上に稼げなかったらどうなりますか？</label>
            <ul id="links02">
              <li>参加費である258,000円以上の金額をトータルで稼ぐまで、無期限でサポート延長いたします。（講座参加後、週30時間以上の実践をすることと、週１回の実践報告をすることが延長条件です。）きちんと学び実践すれば、フリーランスでも収入を作ることは十分に可能です。</li>
           </ul>

           <input type="checkbox" id="menu_bar03" />
            <label for="menu_bar03"><i class="far fa-question-circle"></i>滞在中の宿泊先はどうなりますか？</label>
            <ul id="links03">
              <li>宿泊費用が必要ですが、iSara提携のホステルに宿泊することになりますので心配はありません。</li>
            </ul>

            <input type="checkbox" id="menu_bar04" />
            <label for="menu_bar04"><i class="far fa-question-circle"></i>追加でかかる費用はありますか？</label>
            <ul id="links04">
              <li>宿泊費（トータル20000円）と食費（一食150円程度）くらいです。。</li>
            </ul>

            <input type="checkbox" id="menu_bar05" />
            <label for="menu_bar05"><i class="far fa-question-circle"></i>就職、転職はできますか？</label>
            <ul id="links05">
              <li>DODAの調査によると、2017年のエンジニアの求人倍率は7.5倍です。これは、人材不足が叫ばれる医療業界（医師：6倍、看護師：3倍）よりも高い数値です。ですのできちんとしたスキルを身につけることができれば、就職・転職には困らないはずです。元リクルートの転職のプロも運営スタッフとして参加しています。</li>
            </ul>

            <input type="checkbox" id="menu_bar06" />
            <label for="menu_bar06"><i class="far fa-question-circle"></i>フリーランスにならなければならないのですか？</label>
            <ul id="links06">
              <li>いいえ、必ずフリーランスにならないといけないわけではありません。 実際に過去の卒業生の方の進路も、独立、副業として続ける、就職するなど様々です。      </li>
            </ul>

            <input type="checkbox" id="menu_bar07" />
            <label for="menu_bar07"><i class="far fa-question-circle"></i>ノマドワーカー的に世界を旅しながら働きたいです。可能ですか？</label>
            <ul id="links07">
              <li>きちんと努力し、スキルを身に着けることができれば可能です。 iSaraは、「好きなときに働き、好きなときに遊ぶ」という人生を送れる人を増やすために開講しました。 ちなみに、講師は全員ノマドワーカーとして、働きながら自由に世界中を旅しています。</li>
            </ul>

            <input type="checkbox" id="menu_bar08" />
            <label for="menu_bar08"><i class="far fa-question-circle"></i>学ぶプログラミング言語はなんですか？</label>
            <ul id="links08">
              <li>HTML / CSS / PHPを学びます。どの言語も需要が高いです。</li>
            </ul>

            <input type="checkbox" id="menu_bar09" />
            <label for="menu_bar09"><i class="far fa-question-circle"></i>将来的にwebサービス、アプリ、メディアを作りたいです。</label>
            <ul id="links09">
              <li>経験してる講師がいますよ。大丈夫です。</li>
            </ul>

            <input type="checkbox" id="menu_bar10" />
            <label for="menu_bar10"><i class="far fa-question-circle"></i>次回開催の予定はありますか？</label>
            <ul id="links10">
              <li>未定です。まずはお問合せください。</li>
            </ul>

            <input type="checkbox" id="menu_bar11" />
            <label for="menu_bar11"><i class="far fa-question-circle"></i>海外に出るのが初めてで不安です。</label>
            <ul id="links11">
              <li>講師陣が現地での生活をサポートしますので安心してください。ただしパスポート取得は必要です。</li>
            </ul>

            <input type="checkbox" id="menu_bar12" />
            <label for="menu_bar12"><i class="far fa-question-circle"></i>プログラミングスキルは必要ですか？</label>
            <ul id="links12">
              <li>いいえ、必要ありません。しかし、iSaraでは参加費以上の金額が稼げることを保障しています。 従って、事前通話面談時点で簡単なテストを実施し、場合によってはお断りをしております。この点だけはご了承ください。</li>
            </ul>

            <input type="checkbox" id="menu_bar13" />
            <label for="menu_bar13"><i class="far fa-question-circle"></i>タイ語、英語が一切話せません。参加可能でしょうか？</label>
            <ul id="links13">
              <li>タイ語スタッフ、英語スタッフがいるのでOKです。日本人、タイ人スタッフがおりますので、期間中のトラブル対応の心配は必要ありません。</li>
            </ul>

            <input type="checkbox" id="menu_bar14" />
            <label for="menu_bar14"><i class="far fa-question-circle"></i>治安はどうですか？</label>
            <ul id="links14">
              <li>バンコクは、東南アジアや南アジアの他の国の都市部と比べると、街中も整備されており、非常に治安の良い街です。日本ほどではないですが、世界でも非常に治安の良い国として知られています。</li>
            </ul>

            <input type="checkbox" id="menu_bar15" />
            <label for="menu_bar15"><i class="far fa-question-circle"></i>パソコンは必要ですか？</label>
            <ul id="links15">
              <li>はい。ノートPCのご用意が必要です。</li>
            </ul>

        </div><!-- question -->
      
     
      <footer><!-- footer -->
        <p>バンコクのノマドエンジニア育成講座、iSara[イサラ] <br>
          Copyright ©︎ <a href="#">iSara</a> All Rights Reserved.</p>
          <div class="fbtn">
            <a href="" class="twitter"><i class="fab fa-twitter"></i> ツイート</a>
            <a href="" class="good"><i class="fas fa-thumbs-up"></i></i> いいね！</a>
            <a href="" class="share">シェア</a>
          </div>  
          <p>Designed by <a href="">Maya Ogi</a> / Developed by <a href="">Kentaro Koga</a></p>
          
      </footer><!-- footer -->
     
    </div>

    

    <!--  jQuery -->
    <script type="text/javascript" src="../../static/js/html&css_2/jquery-3.4.1.min.js"></script>
  </body>
</html>