<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>タイピングゲーム</title>
    <link rel="stylesheet" href="../../static/css/works/js_2/style.css">
</head>
<body>
    <div class="wrapper">
        <p id="target">Space or Enter to start!</p>
        <p id="remainingCount"></p>
        <p id="result"></p>
    </div>
    <div class='wrapperRecord'>
        <p id='recordTitle'>record list</p>
        <ul id='records'>
        </ul>
    </div>
    <script src="../../static/js/js_2/main.js"></script>
</body>
</html>